http:// {
    # Bind to the zrok share
    bind {{ .ZrokBindAddress }}
    log {
        output stderr
    }
    route /media* {
        # request path already includes /media, so root must be its parent
        root * /public
        file_server
    }

    # All other traffic goes through
    route /* {
        reverse_proxy http://pretalx:80 {
        }
    }
}