http:// {
    # Bind to the zrok share
    bind {{ .ZrokBindAddress }}
    route /media* {
        root * /public/media
        file_server
    }

    # All other traffic goes through
    route /* {
        reverse_proxy http://pretalx:80 {
        }
    }
}